body    {
    margin: 0px;
}

header  {
    background-color: azure;
    padding: 5px;
    display: flex;
}

#Logo-NextTrip  {
    height: 60px;
    width: fit-content;
    margin: 0px;
    margin-left: 7%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

    .przycisk-logo h1   {
        color: rgb(5, 34, 87);
        margin: 0px;
    }

    .przycisk-logo h2   {
        color: lightskyblue;
        font-size: medium;
        margin: 0px;
        text-align: right;
        text-decoration: none;
    }

    .przycisk-logo  {
        border: none;
        background-color: azure;
    }

        .przycisk-logo:hover  {
            cursor: pointer;
        }

#Contact-info-NextTrip  {
    margin: 0px;
    margin-right: 7%;
    margin-left: auto;
    width: 200px;
    height: 20px;
    padding-top: 25px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: lightskyblue;
}

#pas-zakladek   {
    background-color: rgb(5, 34, 87);
    width: 100%;
    height: auto;
    display: flex;
}

    #pas-zakladek .przycisk   {
        margin: 1px;
        padding: 5px;
        background-color: rgb(5, 34, 87);
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        color: white;
        text-decoration: none;
    }

    #pas-zakladek #pierwszy {
        margin-left: 7%;
    }

    #sociale    {
        margin-left: 50%;
        padding: 5px;
    }
        #pas-zakladek .przycisk:hover {
            background-color: white;
            color: rgb(5, 34, 87);
            cursor: pointer;
        }

#Kontakt    {
    display: flex;
    width: 100%;
    flex-direction: row;
}

#lewy   {
    /*float: left;*/
    margin: 0px;
    width: 50%;
    height: 13cm;
}

    #numero-lefto   {
        margin: auto;
        margin-top: 60px;
        width: 80%;
        text-align: center;
    }

    #assistance {
        margin: auto;
        width: 80%;
        font-family: Arial, Helvetica, sans-serif;
    }

        #assistance p  {
            font-weight: lighter;
        }

#prawy   {
    /*float: right;*/
    width: 50%;
    height: 13cm;
}

#email-div  {
    margin: auto;
    margin-top: 60px;
    width: 80%;
}
    #email-div h2   {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #email-div input[type=text]   {
        width: 100%;
        height: 30px;
        font-size: larger;
        border: 1px solid grey;
        border-radius: 5px;
        margin: 5px 0px;
    }

    #email-div textarea    {
        width: 100%;
        height: 100px;
        border: 1px solid grey;
        border-radius: 5px;
        font-size: large;
        resize: none;
        margin: 5px 0px 0px;
    }

    #email-div input[type=button] {
        margin-left: 25%;
        margin-top: 30px;
        height: 40px;
        width: 50%;
        border: 2px solid rgb(0, 106, 255);
        border-radius: 20px;
        background-color: rgb(0, 106, 255);
        color: white;
    }

    #email-div:hover input[type=button]   {
        cursor: pointer;
    }


    #email-div label    {
        color: grey;
        text-transform: uppercase;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

    }

.backg-picture  {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,0)),
    url(../IMG/kapitanie-majtek-za-burta.png);
    background-size: 100%;
    
}

footer  {
    background-color: rgb(5, 34, 87);
    display: flex;
    justify-content: space-around;
    margin: 0px;
}


    footer div {
        padding: 10px;
        margin: 0px;
    }

    .footer-button  {
        background-color: rgb(5, 34, 87);
        color: white;
        border: none;
        text-decoration: none;
    }

    .footer-button:hover    {
        cursor: pointer;
    }

#even-lower-than-footer {
    background-color: rgb(5, 34, 87);
    color: white;
    padding: 5px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
